* {
  margin: 0;
}

body {
  height: 100vh;
  overflow: auto;
  font-size: 112.5%;
}

h1 {
  margin-bottom: 60px;
  font-size: 200% !important;
}

h2 {
  font-size: 177.778% !important;
}

h3 {
  font-size: 146.25% !important;
}

h1,
h3.font-weight-bold,
h3,
h2:not(.not-color) {
  /* color: rgb(9, 9, 121); */
  font-weight: bold;
}

h3.font-weight-bold,
h2:not(.not-color) {
  margin-bottom: 25px;
}

p {
  margin-bottom: 2rem;
}

.contrast-none {
  background-color: unset;
  border: unset;
}

a:not(.js-tabMenu li a),
a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }
}

li:not(:nth-last-child(1)) {
  margin-right: 25px;
}

header {
  display: flex;
  align-items: center;
  background: rgb(9, 9, 121);
  height: 100px;
}

/* svg rect {
    fill: rgb(9, 9, 121)!important; 
  }
  
  circle {
    stroke: rgb(9, 9, 121) !important;
  } */




.js-tabMenu {
  font-size: 20px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 1200px) {
  .labelOpenMenu {
    display: none;
  }
}

@media (max-width: 1199px) {
  .buttonActions {
    display: flex;
    justify-content: space-between !important;
  }

  .js-tabMenu {
    flex-direction: column;
  }

  .js-tabMenu li:not(:nth-last-child(1)) {
    margin-bottom: 10px
  }

  .js-tabMenu li:nth-child(1) {
    margin-top: 10px
  }

  .labelOpenMenu {
    cursor: pointer;
  }
  
  #darkBackground {
    display: none;
  }
  #menuNoJs:checked~#responsiveMenu {
    transform: translate(300px);
  }
  
  #menuNoJs:checked~#darkBackground {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    transition: 300ms ease-in-out;
    transition-delay: 0;
    background-image: url('./../img/btn-close.svg');
    background-repeat: no-repeat;
    background-position: 94% 20px;
    background-size: 20px;
    cursor: pointer;
    display: block;
    opacity: 1;
    z-index: 9999;
  }

  #responsiveMenu {
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    max-height: 100vh;
    height: 100vh;
    z-index: 99999;
    background: rgb(9, 9, 121);
    transition: 300ms;
    overflow: hidden;
    padding: 0 0 40px 10px;
    border-radius: unset;
  }

  .nav-item {
    padding-left: 10px;
  }

  .nav-item:not(:nth-last-child(1)) {
    margin-right: unset;
    margin-bottom: 10px;
  }

  .container-logo {
    justify-content: center;
  }
}



.top-acessibilityActions {
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 1;
}

#decrease-font {
  margin: 0 15px;
}


@media (min-width: 1200px) {
  #responsiveMenu {
    width: 100%;
  }
}



.foto-apresentacao figure {
  width: 100%;
  max-width: 500px;
  max-height: 407px;
  float: right;
  margin-left: 40px;
}

figcaption {
  font-size: 80.5% !important;
  font-style: italic;
}

.flex-auto {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.flex-shrink {
  flex: 0 1 auto;
}

.container-description {
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 2px 4px 12px 1px rgb(9, 9, 121);
  border-radius: 10px;
  padding: 0 30px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding-top: 25px;
}

.container-description:not(:nth-last-child(1)) {
  margin-bottom: 25px;
  margin-right: 30px;
}

.container-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  border: 1px solid #CCCCCC;
  background-repeat: no-repeat;
  border: 2px solid rgb(9, 9, 121);
  background-size: 220px;
}

.container-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.container-text {
  display: flex;
  flex-direction: column;
}

.container-text span {
  font-weight: bold;
}

.skip-to-content {
  position: absolute;
  top: 5px;
  left: -999px;
  border: 2px solid blue;
  padding: 8px;
}

.skip-to-content:focus {
  left: 5px;
}

.buttonActions-secondDiv.acessibility-active {
  background-color: #D3D3D3;
  border-bottom-left-radius: 10px;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed !important;
  right: 0;
  top: 0;
  z-index: 1;
}


.warning-content {
  background-color: #D3D3D3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px 15px;
  width: 100%;
  border-radius: 10px;
  max-width: 450px;
}

.warning-content p {
  margin-bottom: 0;
  word-break: break-word;
}

@media (max-width: 991px) {
  .links-uteis-img {
    width: 100% !important;
  }
}